<div class="page-header has-tab">
    <h2 class="font-weight-normal">Conferência de Importação de Produtos</h2>
</div>

<nz-tabset class="page-header-tab">
    <nz-tab nzTitle="Informações Gerais">
        <nz-card>
            <nz-input-group>
<!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                <div [nzGutter]="8" nz-row>
                    <div nz-col nzSpan="4">
                        <label>Código Interno</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="5">
                        <label>Código de Barras</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                </div>

                <div [nzGutter]="8" nz-row>

                    <div nz-col nzSpan="14">
                        <label>Descrição do Produto</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="3">
                        <label>Quantidade</label>
                        <input nzSize="small" value="5" disabled type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="2">
                        <label>Medida</label>
                        <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                            <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                            <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="4">
                        <label>Valor Unitário</label>
                        <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                    </div>
                </div>

            </nz-input-group>
        </nz-card>
        <nz-card>
            <nz-input-group>
                <!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                <div [nzGutter]="8" nz-row>
                    <div nz-col nzSpan="4">
                        <label>Código Interno</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="5">
                        <label>Código de Barras</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                </div>

                <div [nzGutter]="8" nz-row>

                    <div nz-col nzSpan="14">
                        <label>Descrição do Produto</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="3">
                        <label>Quantidade</label>
                        <input nzSize="small" value="5" disabled type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="2">
                        <label>Medida</label>
                        <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                            <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                            <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="4">
                        <label>Valor Unitário</label>
                        <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                    </div>
                </div>

            </nz-input-group>
        </nz-card>
        <nz-card>
            <nz-input-group>
                <!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                <div [nzGutter]="8" nz-row>
                    <div nz-col nzSpan="4">
                        <label>Código Interno</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="5">
                        <label>Código de Barras</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                </div>

                <div [nzGutter]="8" nz-row>

                    <div nz-col nzSpan="14">
                        <label>Descrição do Produto</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="3">
                        <label>Quantidade</label>
                        <input nzSize="small" value="5" disabled type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="2">
                        <label>Medida</label>
                        <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                            <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                            <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="4">
                        <label>Valor Unitário</label>
                        <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                    </div>
                </div>

            </nz-input-group>
        </nz-card>
        <nz-card>
            <nz-input-group>
                <!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                <div [nzGutter]="8" nz-row>
                    <div nz-col nzSpan="4">
                        <label>Código Interno</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="5">
                        <label>Código de Barras</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                </div>

                <div [nzGutter]="8" nz-row>

                    <div nz-col nzSpan="14">
                        <label>Descrição do Produto</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="3">
                        <label>Quantidade</label>
                        <input nzSize="small" value="5" disabled type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="2">
                        <label>Medida</label>
                        <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                            <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                            <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="4">
                        <label>Valor Unitário</label>
                        <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                    </div>
                </div>

            </nz-input-group>
        </nz-card>
        <nz-card>
            <nz-input-group>
                <!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                <div [nzGutter]="8" nz-row>
                    <div nz-col nzSpan="4">
                        <label>Código Interno</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="5">
                        <label>Código de Barras</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                </div>

                <div [nzGutter]="8" nz-row>

                    <div nz-col nzSpan="14">
                        <label>Descrição do Produto</label>
                        <input nzSize="small" type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="3">
                        <label>Quantidade</label>
                        <input nzSize="small" value="5" disabled type="text" nz-input/>
                    </div>
                    <div nz-col nzSpan="2">
                        <label>Medida</label>
                        <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                            <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                            <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="4">
                        <label>Valor Unitário</label>
                        <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                    </div>
                </div>
                <nz-card>
                    <nz-input-group>
                        <!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                        <div [nzGutter]="8" nz-row>
                            <div nz-col nzSpan="4">
                                <label>Código Interno</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="5">
                                <label>Código de Barras</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                        </div>

                        <div [nzGutter]="8" nz-row>

                            <div nz-col nzSpan="14">
                                <label>Descrição do Produto</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="3">
                                <label>Quantidade</label>
                                <input nzSize="small" value="5" disabled type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="2">
                                <label>Medida</label>
                                <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                                    <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                                    <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="4">
                                <label>Valor Unitário</label>
                                <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                            </div>
                        </div>

                    </nz-input-group>
                </nz-card>
                <nz-card>
                    <nz-input-group>
                        <!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                        <div [nzGutter]="8" nz-row>
                            <div nz-col nzSpan="4">
                                <label>Código Interno</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="5">
                                <label>Código de Barras</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                        </div>

                        <div [nzGutter]="8" nz-row>

                            <div nz-col nzSpan="14">
                                <label>Descrição do Produto</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="3">
                                <label>Quantidade</label>
                                <input nzSize="small" value="5" disabled type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="2">
                                <label>Medida</label>
                                <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                                    <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                                    <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="4">
                                <label>Valor Unitário</label>
                                <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                            </div>
                        </div>

                    </nz-input-group>
                </nz-card>
                <nz-card>
                    <nz-input-group>
                        <!--                <nz-divider nzText="Identificadores" class="m-t-20" nzOrientation="left"></nz-divider>-->
                        <div [nzGutter]="8" nz-row>
                            <div nz-col nzSpan="4">
                                <label>Código Interno</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="5">
                                <label>Código de Barras</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                        </div>

                        <div [nzGutter]="8" nz-row>

                            <div nz-col nzSpan="14">
                                <label>Descrição do Produto</label>
                                <input nzSize="small" type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="3">
                                <label>Quantidade</label>
                                <input nzSize="small" value="5" disabled type="text" nz-input/>
                            </div>
                            <div nz-col nzSpan="2">
                                <label>Medida</label>
                                <nz-select nzSize="small" style="width: 100%;" type="text" nz-input>
                                    <nz-option [nzLabel]="'UN'" [nzValue]="'UN'"></nz-option>
                                    <nz-option [nzLabel]="'KG'" [nzValue]="'KG'"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="4">
                                <label>Valor Unitário</label>
                                <input nzSize="small" value="R$ 250,00" type="text" nz-input/>
                            </div>
                        </div>

                    </nz-input-group>
                </nz-card>

            </nz-input-group>
        </nz-card>
        <div class="footer-buttons">
            <div nz-row>
                <button nz-button nzSize="small" nzType="default">
                    <i nz-icon nzType="left"></i>
                    Voltar
                </button>
                <button class="m-l-5" nz-button nzSize="small" nzType="primary">
                    <i nz-icon nzType="check"></i>
                    Importar
                </button>
            </div>
        </div>

    </nz-tab>
    <!--    <nz-tab nzTitle="Permissionamento">-->
    <!--    </nz-tab>-->
    <!--    <nz-tab nzTitle="Usuário Vinculado">-->
    <!--    </nz-tab>-->
</nz-tabset>
